* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
}

body {
    display: grid;
    grid-template: auto 1fr / 100%;
    overflow: hidden;

    padding-top: 6em;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    line-height: 2;

    background-color: hsl(38, 20, 85);
}

* {
    font-family: inherit;
}

header {
    margin: 2em 0;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.btn-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0.5em 1em;
    margin: 0 1em;
    border: none;
    border-radius: 6px;
    background-color: hsl(50, 10, 75);
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(50, 10, 80);
}

.btn:active {
    background-color: hsl(50, 10, 75);
}

#color-div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.3em 1em;
    cursor: default;

    label {
        margin-right: 1em;
    }
    
    input {
        cursor: pointer;
        border: none;
    }
}

#canvas {
    display: grid;
    gap: 1px;

    margin: 2em 0;

    width: 400px;
    height: 400px;

    background-color: black;
    border: 1px solid black;

    div {
        background-color: white;
    }
}

#code {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.2em;
    text-decoration: none;
    color: black;
    padding: 0.1em 0.6em;
}